<p style="color: green"><%= notice %></p>

<%= link_to "Back to stores", stores_path %>

<%= render @store %>

<%= form_with model: @store, url: shopping_trip_store_path(@store), method: :patch do |form| %>
  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>
  <table>
    <thead>
      <tr>
        <th>Price</th>
        <th>Description</th>
        <th>Brand</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <%= form.fields_for :prices do |prices_form| %>
        <% if prices_form.object.new_record? %>
          <tr>
            <td>$<%= prices_form.text_field :price %></td>
            <td><%= prices_form.text_field :description %></td>
            <td class="existing-or-new">
              <span class="existing">
                <%= prices_form.collection_select :brand_id, Brand.order(:name), :id, :name %>
                or
              </span>
              <% checkbox_name = "store[prices_attributes][#{prices_form.index}][new_brand]" %>
              <%= label_tag checkbox_name, "new?" %>
              <%= checkbox_tag checkbox_name %>
              <span class="new">
                <%= prices_form.fields_for :brand do |new_brand_form| %>
                  <%= new_brand_form.text_field :name %>
                <% end %>
              </span>
            </td>
            <td>
              <%= prices_form.collection_select :amount_id, Amount.order(:id), :id, :label %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div>
    <%= form.submit %>
  </div>
<% end %>
