<div id="<%= dom_id amount %>">
  <div>
    <strong>Serving:</strong>
    <%= amount.serving %>
  </div>

  <div>
    <strong>Serving variant:</strong>
    <%= amount.serving_variant %>
  </div>

  <div>
    <strong>Volume:</strong>
    <%= amount.volume %>
  </div>

  <div>
    <strong>Volume variant:</strong>
    <%= amount.volume_variant %>
  </div>

  <div>
    <strong>Weight:</strong>
    <%= amount.weight %>
  </div>

</div>
