<div id="<%= dom_id price %>">
  <div>
    <strong>Amount:</strong>
    <%= price.amount_id %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= price.description %>
  </div>

  <div>
    <strong>Amount:</strong>
    <%= price.amount_id %>
  </div>

  <div>
    <strong>Brand:</strong>
    <%= price.brand_id %>
  </div>

  <div>
    <strong>Store:</strong>
    <%= price.store_id %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= price.date %>
  </div>

  <div>
    <strong>Sale:</strong>
    <%= price.sale %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= price.price %>
  </div>

</div>
